body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
}

button {
    margin-bottom: 20px;
}

.container {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(var(--num), 1fr);
    width: 520px;
    height: 520px;

}

.grid-square {
    background-color: lightgray;
    border: 1px solid gray;
    flex-grow: 1;
    
}

.grid-color-change {
    background-color: aqua;
}